.box {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aqua;
    animation: move 10s infinite;
}

@keyframes move {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: 95%;
    }
    50% {
        left: 95%;
        top: 95%;
    }
    75% {
        top: 95%;
        left: 0;

    }
 

       

    




}

